.clienthome-content {
    display: flex;
}

.clienthome-container {
    width: 77%;
    margin: 10px;
}

.news-row {
    display: flex;
}

.news-container {
    height: 130px;
    width: 20%;
    background-color: #dee0df;
    border-radius: 25px;
    margin-right: 5%;
}

.client-search-content {
    display: flex;
    flex-direction: column;
}
.client-search-bar {
    display: flex;
}

.client-search-bar i{
    margin-left: 10px;
    align-self: center;
    transform: scale(-1, 1);
    font-size: 13px;
    cursor: pointer;
}

.client-search-input input {
    width: 250px;
    height: 25px;
    margin-top: 5px;
    border-radius: 5px;
    border: solid 1px;
    padding: 3px;
}
.clienthome-card {
    width: 17%;
    height: 55%;
    background-color: #8cbfde;
    border-radius: 20px;
    margin: 10px;
}

.clienthome-card a{
   text-decoration: none;
    color: inherit
}

.clienthome-service-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
    height: 130px;
}

.clienthome-service-info img {
    margin-top: 20px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid;
    padding: 20px;
    width: 80px;    
}

.client-services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    height: auto;
    width: 100%;
    border: solid 1px;
    justify-content: space-around;
    align-items: center;
    
}