.feed-content {
    display: flex;
    background-color: white;
}

.feed-container {
    margin: 30px;
    width: 74%;
}


.feed-header {
    display: flex;
    margin-bottom: 25px;
    
}

.feed-header img{
    width: 40px;
    object-fit: contain;
}

.feed-profile{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    font-size: 12px;
    font-weight: bolder;
}

.feed-message {
    margin-top: -1px;
}

.feed-name {
    margin-right: 5px;
}

.feed-service {
    color: #9a9797;
    margin-right: 5px;
}

.feed-buttons {
    margin-top: 30px;
}

.feed-buttons button {
    background-color: #4596cb;
    color: white;
    width: 100px;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    border-color: transparent;
    border-radius: 5px;
    margin-right: 20px;
}

.feed-buttons button:hover {
    background-color: #397197;
}

.feed-service-card {
    position:absolute;
    top: 75px;
    left: 300px;
    background-color: white;
    width: 400px;
    border: solid 1px;
    height: 200px;
    border-radius: 20px;
}

.feed-card-container {
    margin: 10px 20px;
}

.feed-card-header {
    display: flex; 
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
}

.feed-card-name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
   margin-top: 5px;
}
.feed-card-details {
 

}
.feed-card-content {
    display: flex;
    
}
.feed-card-profile {
    margin-top: 10px;
}
.feed-card-profile img {
    width: 40px;
}

.feed-card-name .feed-comment {
    resize: none;
    height: 75px
}

.feed-card-name .feed-comment::-webkit-scrollbar {
    width: 5px;
}

.feed-card-name .feed-comment::-webkit-scrollbar-thumb {
    background-color: #4596cb;
    width: 5px;
}

.feed-sidenav-notif {
    background-color: #4596cb;
    height: 180px;
    overflow-y: scroll;
}

.feed-sidenav-notif::-webkit-scrollbar {
    width: 3px;
}

.feed-sidenav-notif::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.feed-side-post {
    margin-top: 20px;
    margin-left: 20px;
}

.feed-side-post span{
    margin-left: 10px;
}