.root {
    --sidebar: #4596cb;
}

body::-webkit-scrollbar {
    display: none;
  }
.home-content {
    display: flex;
    background-color: white;
}

.home-container {
    width: 78%;
}

.card-sets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 80px;
}


.card {
    width: 310px;
    margin-right: 20px;
}

.card-header {
    background-color: #dee0df;
    text-align: center;
}

.card-header p {
    font-size: 20px;
    margin: 10px;

}

.card-content {
    background-color: #dee0df;
}

.message {
    display: flex;
    background-color: #aac5d8;
    height: 45px;
    margin-bottom: 1px;
    padding: 5px;   
}


.message h6{
    font-size: 10px;
    text-align: center;
    align-content: center;

}

.message2 {
    display: flex;
    background-color: #90d4b3;
    height: 45px;
    margin-bottom: 1px;
    padding: 5px;
}

.message2 h6{
    font-size: 10px;
    text-align: center;
    align-content: center;

}

.message3 {
    display: flex;
    background-color: transparent;
    height: 45px;
    margin-bottom: 1px;
    padding: 5px;
}

.message3 h6{
    font-size: 10px;
    text-align: center;
    align-content: center;

}

.card-content .message img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-left: 10px;
}

.text-message{
    width: 70%;
    text-align: center;
}
.text-message p {
    text-align: start;
    font-size: 10px;
    margin-left: 5px;
    
}

.text-message span {
    font-size: 12px;
    font-weight:bold;
}

.card-footer {
    height: auto;
}

.request p{
    text-align: center;
    font-size: 10px;
    height: 20px;
}   
.buttons {
    display: flex;
    gap: 2px;
}

.buttons .accept {
    margin-top: -15px;
    height: 15px;
    font-size: 7px;
    font-weight: bolder;
    background-color: #4795ca;
}

.buttons .reject {
    margin-top: -15px;
    height: 15px;
    font-size: 7px;
    font-weight: bolder;
    background-color: #e84c3d;
}

.profile-box {
    position: absolute;
    top: 60px;
    right: 20px;
    height: 350px;
    width: 250px;
    border: solid 1px;
    background-color: #4596cb;
    z-index: 1000;
}

.profile-header {
    display: flex;
    height: 25%;
    margin: 10px;
}

.profile-image {
    height: 100%;
    text-align: center;
    width: 40%;
    
}
.profile-image img {
    width: 80px;

    
}

.profile-class {
    background-color: #ece7e9;
    padding: 0px 10px;
    margin: 0px 20px;
    text-align: center;
    border-radius: 20px;
    font-size: 10px;
}

.profile-info {
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 20px;
}

.profile-info span{
    
    font-size: 12px;
}

.profile-info button{
    font-weight: bolder;
    border-radius: 5px;
    border-color: transparent;
    background-color: #ededea;
    border: solid 1 p
}

.profile-dropdown {
    width: 100%;
    height: 50px;
    margin-top: 40px;  
}

.profile-dropdown a{
   text-decoration: none;
   color: inherit;
}


.profile-dropdown img{
    margin-left: 10px;
}

.dropdown-content {
    width: 100%;
    display: flex;
    align-items: center;
}

.card-month {
    background-color: #4596cb;
    height: 34px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.card-week {
    display: flex;
    justify-content: space-between;
}

.card-days {
    font-weight: bolder;
    margin-top: 1px;
    width: 14.30%;
    padding: 5px;
    background-color: #4596cb;
    text-align: center;
}

.card-calendar-date {
    display: flex;
    justify-content:space-between;
}
.card-date {
    border: groove 1px;
    width: 14.30%;
    background-color: white;
    text-align: center;
    padding: 5px;
}

.card-schedule {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.home-appointment {
    background-color: #4795ca;
    height: 50px;
    text-align: center;
    margin: 20px 50px;
    border-radius: 50px;
    cursor: pointer;
}

.home-appointment label {
        margin-top: 13px;
        font-weight: bolder;
        cursor: pointer;
}

.appointment-cards {
    display: flex;
    background-color: rgb(209, 208, 208);
    top: 4%;
    right: 8%;
    width: 900px;
    height: auto;
    position: absolute;
    margin-left: 25%;
    margin-top: 4rem;
    border-radius: 20px;
    border: solid 1px;
    animation: fadein 0.5s forwards;
  }
 
  @keyframes fadein {
   0% {
        transform: scale(0.1,0.1);
        height: 0px;
        top: 90%; 
        opacity: 0.1;
    } 
   100%{
       transform: scale(1,1);
        height: 400px;
        top: 4%;
        opacity: 1;
    }

  }

.appointment-content {
    width: 100%;
    height: 100%;
    display: flex;
}

.appointment-card {
    margin: 20px;
    margin-bottom: 130px;
    height: auto;
    width: 200px;
    background-color: #92bad4;
}

.appointment-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 10px;
    height: 190px;
}

.appointment-profile h1{
    margin-top: 2.5px;
    font-size: 20px;
    font-weight: bolder;
}


.appointment-profile img{
  width: 60px;
}

.appointment-profile span{
   text-align: center;
   margin: 0px 35px;
   font-size: 8px;
}

.appointment-btn {
    display: flex;
    justify-content: center;
    gap: 5px;
    height: auto;
}

.appointment-btn button {
    width: 60px ;
    height: auto;
    font-size: 8px;
    font-weight: bolder;
    color: black;
    border:none;
}

.appointment-accept {
    height: auto;
    background-color:#1079be;
}

.appointment-reject {
    height: auto;
    background-color:#e74c3c;
}

