

.sidenav {
    background-color: #00afe8;
    min-height: 660px;
    height: auto;
    width: 280px;
    margin: 10px 5px;
    border-radius: 10px;
}

.sidenav-header {
    display: flex;
}

.sidenav-header-profile{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 15px;
   
}

.sidenav-header-profile img {
    width: 70px;
}

.sidenav-user-class {
    align-self: center;
    background-color: white;
    font-size: 10px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.sidenav-header-details {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 5px;
}

.sidenav-header-details img {
   width: 15px;
   margin-left: 5px;
}

.sidenav-header-details .sidenav-name {
    font-size: 22px;
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.sidenav-header-details .sidenav-number {
    font-size: 12px;
    font-weight: bolder;
    margin-left: 10px;
}

.sidenav-header-details img {
   cursor: pointer;
   margin-left: 10px;
}
.sidenav-header-details .status-dropdown {
    margin-left: 8px;
    margin-top: 3px;
    width: 80px;
    height: 15px;
    font-size: 11px;
    font-weight: bolder;
    cursor: pointer;
    background-color: transparent;
   
}

.sidenav-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

  }

.sidenav-worker-content {
    overflow-y: scroll;
     height: 175px;
     
  }

  .sidenav-container {
    margin-top: 10px;
    height: 100%;
  }

  .sidenav-worker-content h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .sidenav-worker-content::-webkit-scrollbar {
    width: 3px;
  }

  .sidenav-worker-content::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
  }
  
  .workers-text {
        position: sticky;
        top: 0;
        background-color: #00afe8;
        width: 100%;
  }

.sidenav-content h5 {
    margin-left: 10px;
  }
  

.sidenav-workers {
    display: flex;
  margin-left: 20px;
  margin-bottom: 10px;
}

.sidenav-workers img {
    width: 35px;
}

.workers-details {
    display: flex;
    flex-direction: column;
}
.workers-profile {
    display: flex;
    margin-left: 10px;
}

.workers-profile span {
     font-size: 12px;
}

.worker-name, 
.worker-service,
.worker-number {
    margin-top: 4px;
    font-weight: bolder;
   
}

.worker-name {
    margin-top: 4px;
    font-size: 9px;
    margin-right: 5px;
}

.worker-service {
    font-size: 9px;
    color: #1d587c;
    margin-left: 5px;
}

.worker-number {
    font-size: 8px;
    margin-top: -2px;
    margin-left: 10px;
}

.sidenav-notif {
    background-color: #4596cb;
    height: 180px;
    overflow-y: scroll;
}


.worker-sidenav-notif {
    background-color: #4596cb;
    height: 380px;
    overflow-y: scroll;
}

.sidenav-notif h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.sidenav-notif::-webkit-scrollbar {
    width: 3px;
}

.sidenav-notif::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.worker-sidenav-notif::-webkit-scrollbar {
    width: 3px;
}

.worker-sidenav-notif::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}
.notification-text {
    position: sticky;
    top: 0;
    background-color: #4596cb;
}

.sidenav-notif-content {
    margin-left: 20px;
    display: flex;
    margin-bottom:5px;
}

.sidenav-notif-content img{
    width: 35px;
    object-fit:contain;
}

.sidenav-notif-message {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    margin-left: 10px;
    font-weight: bolder;
}


.notif-name {
 font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
}


.notif-message {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.sidenav-footer{
    height: auto;
}

.sidenav-footer-content{
    width: 100%;
    display: flex;
    cursor: pointer;
    padding: 7px 0px;
}

.sidenav-footer a{
    text-decoration: none;
    color: inherit;
}

.sidenav-footer-content:hover{
   background-color: #608caa;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}

.sidenav-footer-content img{
    margin-left: 20px;
    width: 30px;
}

.sidenav-footer-content span{
    font-size: 18px;
    margin-left: 20px;
    font-weight: bolder;
}

.sidenav-footer-content a{
    text-decoration: none;
    color: black;
}